build --enable_platform_specific_config

# This relates to the hermetic_cc_toolchain configuration in MODULE.bazel
build --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1 # Make sure zig_cc is actually being used
build:win-x64 --platforms=@zig_sdk//platform:windows_amd64
# An example of using this might look like:
# $: bazel run --config="win-x64" --run_under="PowerShell.exe" :hello
# Running this command in wsl builds a windows .exe in linux and then runs it under powershell from
# wsl, a succinct example of cross compilation.

build --@rules_rust//rust/settings:rustc_output_diagnostics=true --output_groups=+rust_lib_rustc_output,+rust_metadata_rustc_output
